/*============================================
    1.Base
  ============================================*/
body{
    font-family: "微軟正黑體", sans-serif;
    color: #333;
    min-width: 1000px;
}
a{
    text-decoration: none;
}
/*============================================
    2.Shared Components
  ============================================*/
.navbar{
    display:flex;
    align-items: center;
    height:100px;
    padding: 0 40px;
    position: relative;
    background-color:rgb(73, 73, 73);
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
}
.logo{
    width:150px;
    height:100px;
    background-image: url("../image/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    border-radius: 8px;
    color:#888;
    z-index: 10;
}
.nav-links{
    display: flex;
    height:100px;
    /* gap:40px; */
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.links{
    width:120px;
    font-size: 18px;
    font-weight: bold;
    color:#da7727;
    cursor:pointer;
    padding:10px 0;
    position:relative;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:hover{
    color: white;
    background-color: #da7727;
}
/*============================================
    3.Home Page
  ============================================*/
.hero-banner{
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: #ddd;
    position: relative;
}
.hero-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.weather-card {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
    min-width: 160px;
}

.weather-main {
    display: flex;
    align-items: center;
    gap: 15px;
}
.weather-main .icon {
    font-size: 40px;
}
.weather-main .temp {
    font-size: 32px;
    font-weight: 800;
    color: #333;
}

.weather-info {
    line-height: 1.4;
    display: flex;
}
.weather-info .Date{
    font-size: 16px;
}
.weather-info .location {
    font-size: 20px;
    color: #666;
    font-weight: bold;
}
.weather-main .desc {
    font-size: 32px;
    color: #333;
}

.weather-details {
    display: flex;
    gap: 15px;
    font-size: 16px;
    color: #555;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 2px dashed rgba(0,0,0,0.1);
}

.sun-details {
    display: flex;
    gap: 15px;
    font-size: 16px;
    color: #555;
    padding-top: 5px;
    border-top: 2px dashed rgba(0,0,0,0.1); /* 用虛線分隔 */
    margin-top: 5px;
}